body {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
  flex: 1;
}

/*navbar*/
.navbar {
    min-height: 5rem;
    background-color: white;
    flex-wrap: wrap;
}




.fa-compass {
    color: rgb(255, 0, 0);
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}



.f-info-links a {
    text-decoration: none;
    color: #222222;
    margin: 1rem;
}



.f-info-links a:hover {
    text-decoration: underline;
    margin: 1rem;

}

.f-info-links,
 .f-info-socials,
 .f-info-brand {
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}


.f-info-socials i {
    margin: 1rem;
    font-size: 1.2rem;

}



.f-info-links a {
    text-decoration: none;
    color: #222222;
}




.f-info {
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: rgb(150, 158, 155);
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}



/* cards */

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0.5rem 0; 
}

.card-text {
  font-weight: 400; 
  font-size: 1rem;  
}

.listing-link{
    text-decoration: none;
}

/*  card effects */



.card-img-overlay{
  opacity: 0.1;
  background-color: rgb(11, 10, 10);
  box-shadow: 1 3 18px rgba(0, 0, 0, 0.4); /* shadow */
}

.card-img-overlay:hover  {
  opacity: 0;
  transition: all 0.1s ease;
}

/* new page */

.add-btn{
  background-color: chartreuse !important; 
  border: none !important;

}

/* Edit page */


.edit-btn{
  background-color: rgb(215, 46, 164) !important; 
  border: none !important;

}

/* Show page */

.show-img{
  height: 50vh;

}

.show-img:hover{
  height: 55vh;

}